.App {
  text-align: center;
}

html {
  scroll-behavior: smooth !important;
}

li {
  padding: 8px 18px;
  color: var(--c-13, #141414);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 60px;
  /* 333.333% */
}

p span {
  color: var(--c-10, #525252);
  font-style: normal;
  line-height: normal;
}